<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>ラーメンの種類</title>
</head>
<body>
  <h2>ラーメンの種類一覧</h2>
  <table>
    <tr><th>ID</th><th>ラーメンの種類</th></tr> <% let number = 0 %>
    <% for( let row of data ) { %>
      
      <% if (row) { %> <tr>
          <td><%= row.id %></td>
          <td><a href="/ramen/<%= number %>"><%= row.name %></a></td>
        </tr>
      <% } %>
      
      <% number += 1 %> <% } %>
    
  </table>
  <br>
  <a href="/ramen/create">追加</a>

</body>
</html>