<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TOPページ</title>
</head>
<body>
  <h1>メニュー選択</h1>
  <ul>
    <li><a href="/udon">うどん管理</a></li>
    <li><a href="/soba">そば管理</a></li>
    <li><a href="/ramen">ラーメン管理</a></li>
  </ul>
</body>
</html>